<style>
	hr {
		display: block;
		margin-top: 0.5em;
		margin-bottom: 0.5em;
		margin-left: auto;
		margin-right: auto;
		border-style: inset;
		border-width: 2px;
	}
</style>

<h2>Parameter</h2>
<hr>
<br />
<h4><b>T1: HLT</b></h4>
<table class="table table-striped">
	<thead>
		<tr>
			<th style="width: 10%" </th>
				<th style="width: 90%" </th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><label>Offset: </label></td>
			<td><input [(ngModel)]="config.kp" type="number"></td>
		</tr>
		<tr>
			<td><label>Scaling: </label></td>
			<td><input [(ngModel)]="config.kp" type="number"></td>
		</tr>
		<tr>
			<td><button class="btn btn-default" (click)="setPidController()">Set</button></td>
		</tr>
	</tbody>
</table>
<hr>
<br />
<h4><b>T2: MASH</b></h4>
<table class="table table-striped">
	<thead>
		<tr>
			<th style="width: 10%" </th>
				<th style="width: 90%" </th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><label>Offset: </label></td>
			<td><input [(ngModel)]="config.kp" type="number"></td>
		</tr>
		<tr>
			<td><label>Scaling: </label></td>
			<td><input [(ngModel)]="config.kp" type="number"></td>
		</tr>
		<tr>
			<td><button class="btn btn-default" (click)="setPidController()">Set</button></td>
		</tr>
	</tbody>
</table>
<hr>
<br />
<h4><b>HE_HW_IN</b></h4>
<table class="table table-striped">
	<thead>
		<tr>
			<th style="width: 10%" </th>
				<th style="width: 90%" </th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><label>Valve Filter: </label></td>
			<td><input [(ngModel)]="config.kp" type="number"></td>
		</tr>
		<tr>
			<td><label>Valve Hysteresis: </label></td>
			<td><input [(ngModel)]="config.kp" type="number"></td>
		</tr>
		<tr>
			<td><button class="btn btn-default" (click)="setPidController()">Set</button></td>
		</tr>
	</tbody>
</table>