<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


<button class="btn btn-lg" (click)="changePidCtrlMode(config.mode)">{{config.mode}}</button>

<table class="table table-striped">
	<thead>
		<tr>
			<th style="width: 10%">Name </th>
			<th style="width: 10%">Act. Value </th>
			<th style="width: 80%">New Value </th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><label>Temp:</label></td>
			<td><span>{{ pidController.temperature | number:'2.1-2' }} C</span></td>
		</tr>
		<tr>
			<td><label>Set Point:</label></td>
			<td><span>{{config.setPoint}}</span></td>
			<td><input [(ngModel)]="config.setPoint" type="number"></td>
		</tr>
		<tr>
			<td><label>Output:</label></td>
			<td><span>{{config.output}}</span></td>
			<td><input [(ngModel)]="config.output" type="number"></td>
		</tr>
		<tr>
			<td><label>Kp:</label></td>
			<td><span>{{config.kp}}</span></td>
			<td><input [(ngModel)]="config.kp" type="number"></td>
		</tr>
		<tr>
			<td><label>Ki:</label></td>
			<td><span>{{config.ki}}</span></td>
			<td><input [(ngModel)]="config.ki" type="number"></td>
		</tr>
		<tr>
			<td><label>Kd:</label></td>
			<td><span>{{config.kd}}</span></td>
			<td><input [(ngModel)]="config.kd" type="number"></td>
		</tr>
		<tr>
			<td><button class="btn btn-block" (click)="setPidController()">Set</button></td>
		</tr>
	</tbody>
</table>