<div class="jumbotron">
  <h3>Logs</h3>
  <div class="table-responsive">
    <table class="table table-condensed">
      <thead>
        <tr>
          <th width="20%">Timestamp</th>
          <th width="10%">Level</th>
          <th width="10%">Module</th>
          <th width="10%">Function</th>
          <th>Message</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let log of logs">
          <td>{{log.timestamp | date: 'yyyy/MM/dd HH:mm:ss'}}</td>
          <td>{{log.level}}</td>
          <td>{{log.module}}</td>
          <td>{{log.function}}</td>
          <td>{{log.message}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
