<div class="well well-lg">
  <h3>Overview</h3>
  <svg viewBox="0 0 700 550" preserveAspectRatio="xMidYMid meet">
  
    <!-- Graphics -->
    <line fill="none" stroke="Black" stroke-width="5"  fill-opacity="null" x1="255" y1="135" x2="265" y2="135" id="svg_69"  /> <!-- T2 -->
    <line fill="none" stroke="Black" stroke-width="5"  fill-opacity="null" x1="425" y1="100" x2="425" y2="112" id="svg_69"  /> <!-- T3 -->
  
    <!-- Junctions -->
    <circle cx="253" cy="135" r="5" stroke="black" stroke-width="1" fill="rgb(204,102,0)" /> <!-- HE OUT -->
    <circle cx="425" cy="112" r="5" stroke="black" stroke-width="1" fill="rgb(204,102,0)" /> <!-- T3 -->
    <circle cx="460" cy="287" r="5" stroke="black" stroke-width="1" fill="red" /> <!-- HW Split (red) -->

    <!-- MLT IN -->
    <line fill="none" stroke-width="3"  fill-opacity="null" x1="148" y1="45" x2="460.5" y2="45" id="svg_51"   stroke="rgb(204,102,0)"/> <!-- MLT IN Hori -->
    <line fill="none" stroke="rgb(204,102,0)" stroke-width="3"  fill-opacity="null" x1="253" y1="45" x2="253" y2="144" id="svg_53"  /> <!-- HE OUT Vert up to above line -->
  
    <!-- MLT OUT -->
    <line stroke="rgb(204,102,0)" fill="none" stroke-width="3"  fill-opacity="null" x1="95" y1="170" x2="95" y2="211" id="svg_47"  /> <!-- MLT OUT Vert -->
    <line fill="none" stroke-width="3"  fill-opacity="null" x1="93.5" y1="211" x2="174.75" y2="211" id="svg_49"   stroke="rgb(204,102,0)"/><!-- MLT OUT Hori -->
    <line stroke="rgb(204,102,0)" fill="none" stroke-width="3"  fill-opacity="null" x1="174" y1="112.5" x2="174" y2="212" id="svg_50"  /> <!-- MLT OUT > HE Ver. Line right side MLTt -->
    <line fill="none" stroke-width="3"  fill-opacity="null" x1="172.25" y1="112" x2="426.5" y2="112" id="svg_52"   stroke="rgb(204,102,0)"/> <!-- MLT OUT Hori after line above -->
    <line fill="none" stroke="rgb(204,102,0)" stroke-width="3"  fill-opacity="null" x1="425" y1="112.5" x2="425" y2="482" id="svg_69"  /> <!-- MLT OUT Vert - Right side HE after line above-->
  
    <!-- KET IN -->
    <line fill="none" stroke-width="3"  fill-opacity="null" x1="196.5" y1="135" x2="253.5" y2="135" id="svg_52"   stroke="rgb(204,102,0)"/> <!-- HE OUT Hori going left -->
    <line stroke="rgb(204,102,0)" fill="none" stroke-width="3"  fill-opacity="null" x1="198" y1="135.5" x2="198" y2="350" id="svg_50"  /> <!-- KET_WORT_IN Vert line HE left side -->
    <line fill="none" stroke="rgb(204,102,0)" stroke-width="3"  fill-opacity="null" x1="199.5" y1="350" x2="149" y2="350" id="svg_57"  /> <!-- KET IN Hori -->
 
    <!-- KET OUT -->
    <line fill="none" stroke-width="3"  fill-opacity="null" x1="148" y1="482.5" x2="426.5" y2="482.5" id="svg_55"   stroke="rgb(204,102,0)"/> <!-- KET OUT > Wort pump IN Hori -->


    <!-- HE WORT IN -->
    <line fill="none" stroke="rgb(204,102,0)" stroke-width="3"  fill-opacity="null" x1="253" y1="450.5" x2="253" y2="482" id="svg_56"  /> <!-- Wort pump inlet vert -->
    <line fill="none" stroke="rgb(204,102,0)" stroke-width="3"  fill-opacity="null" x1="253" y1="300.5" x2="253" y2="400" id="svg_56"  /> <!-- HE IN Vert pump outlet-->

    <!-- HE HW OUT -->
    <line stroke="blue" fill="none" stroke-width="3"  fill-opacity="null" x1="316" y1="167.999955" x2="316" y2="235" id="svg_63"  /> <!-- CW OUT Vert -->
    <line fill="none" stroke-width="3"  fill-opacity="null" x1="284" y1="168.500035" x2="565" y2="168.500035" id="svg_59"   stroke="blue"/> <!-- HW HE OUT Hori-->

    <!-- HE HW IN -->
    <line fill="none" stroke="blue" stroke-width="3"  fill-opacity="null" x1="316" y1="286" x2="316" y2="355" id="svg_61"  /> <!-- CW IN Vert-->
    <line fill="none" stroke-width="3"  fill-opacity="null" x1="284" y1="286.5" x2="460" y2="286.5" id="svg_60"   stroke="red"/> <!-- HW HE IN Hori-->


    <!-- HLT -->
    <line fill="none" stroke-width="3"  fill-opacity="null" x1="552" y1="440.5" x2="459.5" y2="440.5" id="svg_68"   stroke="red"/> <!-- HLT OUT Hori-->
    <line fill="none" stroke="red" stroke-width="3"  fill-opacity="null" x1="460" y1="440.5" x2="460" y2="43.75" id="svg_70"  /> <!-- Sparge water vert-->
    <line fill="none" stroke="blue" stroke-width="3"  fill-opacity="null" x1="565" y1="307" x2="565" y2="167" id="svg_73"  /> <!-- HLT IN Vert -->

    <!-- Vessels -->
    <rect fill="rgb(224,224,224)" stroke="#000" stroke-width="1.5"  fill-opacity="null" x="40" y="40" width="110" height="147" id="svg_40"/> <!-- MLT-->
    <rect fill="rgb(224,224,224)" stroke="#000" stroke-width="1.5"  fill-opacity="null" x="40" y="343.5" width="110" height="147" id="svg_46"/> <!-- KET -->
    <rect fill="rgb(224,224,224)" stroke="#000" stroke-width="1.5"  fill-opacity="null" x="223" y="144.5" width="60" height="156" id="svg_54"/> <!-- HE -->
    <rect fill="rgb(224,224,224)" stroke="#000" stroke-width="1.5"  fill-opacity="null" x="552.5" y="209.5" width="110" height="247" id="svg_72"/> <!-- HLT -->
  

    <!-- Textboxes -->
    <text fill="#000000" stroke="#000" stroke-width="0"  fill-opacity="null" x="73" y="120" id="svg_87" font-size="24" font-family="Helvetica, Arial, sans-serif" text-anchor="start" xml:space="preserve">MLT</text>
    <text fill="#000000" stroke="#000" stroke-width="0"  fill-opacity="null" x="162" y="30" id="svg_74" font-size="8" font-family="Helvetica, Arial, sans-serif" text-anchor="start" xml:space="preserve">AUTO SPARGE</text>
    <!-- Save for later 
    <text fill="#000000" stroke="#000" stroke-width="0"  fill-opacity="null" x="422" y="148" transform="rotate(-90 422,148) " id="svg_87" font-size="8" font-family="Helvetica, Arial, sans-serif" text-anchor="start" xml:space="preserve">MLT_WORT_IN</text>
    -->
    <text fill="#000000" stroke="#000" stroke-width="0"  fill-opacity="null" x="265" y="79" id="svg_87" font-size="8" font-family="Helvetica, Arial, sans-serif" text-anchor="start" xml:space="preserve">MLT_WORT_IN</text>
    <text fill="#000000" stroke="#000" stroke-width="0"  fill-opacity="null" x="473" y="79" id="svg_87" font-size="8" font-family="Helvetica, Arial, sans-serif" text-anchor="start" xml:space="preserve">MLT_HW_IN</text>
    <text fill="#000000" stroke="#000" stroke-width="0"  fill-opacity="null" x="267" y="505" id="svg_74" font-size="8" font-family="Helvetica, Arial, sans-serif" text-anchor="start" xml:space="preserve">MLT_WORT_OUT</text>

    <text fill="#000000" stroke="#000" stroke-width="0"  fill-opacity="null" x="237" y="233.824555" id="svg_74" font-size="24" font-family="Helvetica, Arial, sans-serif" text-anchor="start" 
  xml:space="preserve">HE</text>
    <text fill="#000000" stroke="#000" stroke-width="0"  fill-opacity="null" x="270" y="139" id="svg_74" font-size="12" font-family="Helvetica, Arial, sans-serif" text-anchor="start" xml:space="preserve">T3: {{system.data.tempHeOut}} C</text>
    <text fill="#000000" stroke="#000" stroke-width="0"  fill-opacity="null" x="380" y="95" id="svg_74" font-size="12" font-family="Helvetica, Arial, sans-serif" text-anchor="start" xml:space="preserve">T2: {{tempMltOut}} C</text>
    <text fill="#000000" stroke="#000" stroke-width="0"  fill-opacity="null" x="349" y="152" id="svg_74" font-size="8" font-family="Helvetica, Arial, sans-serif" text-anchor="start" xml:space="preserve">HE_HW_OUT</text>
    <text fill="#000000" stroke="#000" stroke-width="0"  fill-opacity="null" x="354" y="271" id="svg_74" font-size="8" font-family="Helvetica, Arial, sans-serif" text-anchor="start" xml:space="preserve">HE_HW_IN</text>
    <text fill="#000000" stroke="#000" stroke-width="0"  fill-opacity="null" x="329" y="214" id="svg_74" font-size="8" font-family="Helvetica, Arial, sans-serif" text-anchor="start" xml:space="preserve">HE_CW_OUT</text>
    <text fill="#000000" stroke="#000" stroke-width="0"  fill-opacity="null" x="329" y="333" id="svg_74" font-size="8" font-family="Helvetica, Arial, sans-serif" text-anchor="start" xml:space="preserve">HE_CW_IN</text>

    <text fill="#000000" stroke="#000" stroke-width="0"  fill-opacity="null" x="73" y="421.5" id="svg_75" font-size="24" font-family="Helvetica, Arial, sans-serif" text-anchor="start" xml:space="preserve">KET</text>
    <text fill="#000000" stroke="#000" stroke-width="0"  fill-opacity="null" x="130" y="315" id="svg_74" font-size="8" font-family="Helvetica, Arial, sans-serif" text-anchor="start" xml:space="preserve">KET_WORT_IN</text>
    <text fill="#000000" stroke="#000" stroke-width="0"  fill-opacity="null" x="176" y="505" id="svg_74" font-size="8" font-family="Helvetica, Arial, sans-serif" text-anchor="start" xml:space="preserve">KET_WORT_OUT</text>


    <text fill="#000000" stroke="#000" stroke-width="0"  fill-opacity="null" x="585" y="350" id="svg_76" font-size="24" font-family="Helvetica, Arial, sans-serif" text-anchor="start" xml:space="preserve">HLT</text>
    <text fill="#000000" stroke="#000" stroke-width="0"  fill-opacity="null" x="583" y="400" id="svg_76" font-size="12" font-family="Helvetica, Arial, sans-serif" text-anchor="start" xml:space="preserve">T1: {{tempHLT}} C</text>
    <text fill="#000000" stroke="#000" stroke-width="0"  fill-opacity="null" x="583" y="420" id="svg_76" font-size="12" font-family="Helvetica, Arial, sans-serif" text-anchor="start" xml:space="preserve">L1: {{system.data. waterLevelHlt}} L</text>

    <text fill="#000000" stroke="#000" stroke-width="0"  fill-opacity="null" x="289" y="427" id="svg_74" font-size="8" font-family="Helvetica, Arial, sans-serif" text-anchor="start" xml:space="preserve">WORT PUMP</text>
    <text fill="#000000" stroke="#000" stroke-width="0"  fill-opacity="null" x="487" y="480" id="svg_74" font-size="8" font-family="Helvetica, Arial, sans-serif" text-anchor="start" xml:space="preserve">HW PUMP</text>

    <!-- Pumps -->
    <ellipse fill="#ffffff" stroke-width="1.5"  cx="506.5" cy="439" id="svg_85" rx="26.499999" ry="27.499999" stroke="#000"/> <!-- HW pump-->
    <ellipse fill="#ffffff" stroke-width="1.5"  cx="253" cy="423" id="svg_82" rx="26.499999" ry="27.499999" stroke="#000"/> <!-- Wort pump -->
    <path fill="#000000" stroke-width="1.5"  d="m494.0631,447.79077l9.50001,-16l9.5,16l-19.00001,0z" id="svg_86" transform="rotate(-90 503.56311035156256,439.79077148437506) " stroke="#000"/><!-- HW pump arrow -->
    <path fill="#000000" stroke-width="1.5"  d="m262.0631,430.79077l9.50001,-16l9.5,16l-19.00001,0z" id="svg_81" transform="rotate(-120 262,430) " stroke="#000"/> <!-- Wort pump arrow -->

 
    <!-- VALVE AUTO_SPARGE -->
    <path stroke="#000" stroke-width="1.5"  d="m175.0631,35.790764l9.50001,-16l9.5,16l-19.00001,0z" [attr.fill]="AUTO_SPARGE" id="svg_5" transform="rotate(90 175.56311035156256,35.790763854980487) "/>
    <path transform="rotate(-90 205.56311035156253,53.79077148437499) " stroke="#000" [attr.fill]="AUTO_SPARGE" stroke-width="1.5"  d="m205.0631,53.790764l9.50001,-16l9.5,16l-19.00001,0z" id="svg_6"/>

    <!-- VALVE HE HW OUT -->
    <path stroke="#000"  stroke-width="1.5"  d="m360.08957,158.808909l9.50001,-16l9.5,16l-19.00001,0z"  [attr.fill]="HE_HW_OUT"  id="svg_9" transform="rotate(90 360.5887451171875,158.80906677246098) "/>
    <path transform="rotate(-90 391.5887756347656,177.4088226318359) " stroke="#000"  stroke-width="1.5" [attr.fill]="HE_HW_OUT"  d="m391.589596,177.408945l9.50001,-16l9.5,16l-19.00001,0z" id="svg_10"/>

    <!-- VALVE HE HW IN -->
    <path stroke="#000" [attr.fill]="HE_HW_IN" stroke-width="1.5"  d="m360.08957,277.831409l9.50001,-16l9.5,16l-19.00001,0z" id="svg_11" transform="rotate(90 360.58874511718756,277.83088684082034) "/>
    <path transform="rotate(-90 391.58874511718756,295.8305969238281) " stroke="#000" [attr.fill]="HE_HW_IN" stroke-width="1.5"  d="m391.58957,295.831409l9.50001,-16l9.5,16l-19.00001,0z" id="svg_12"/>
 
    <!-- VALVE KET_WORT_OUT -->
    <path stroke="#000" [attr.fill]="KET_WORT_OUT" stroke-width="1.5"  d="m287.057995,500.78075l9.50001,-16l9.5,16l-19.00001,0z" id="svg_13" transform="rotate(90 254.45816650390622,440.7810668945313) "/>
    <path transform="rotate(-90 226.05816650390628,492.38106689453125) " stroke="#000" [attr.fill]="KET_WORT_OUT" stroke-width="1.5"  d="m226.057995,492.38075l9.50001,-16l9.5,16l-19.00001,0z" id="svg_14"/>

    <!-- VALVE KET WORT IN -->
    <path transform="rotate(-180 206.5665283203125,295.78315734863281) " stroke="#000" [attr.fill]="KET_WORT_IN" stroke-width="1.5"  d="m205.565631,295.783149l9.50001,-16l9.5,16l-19.00001,0z" id="svg_15"/>
    <path stroke="#000" stroke-width="1.5" [attr.fill]="KET_WORT_IN"  d="m188.466511,326.788069l9.50001,-16l9.5,16l-19.00001,0z" id="svg_16"/>

    <!-- VALVE MLT WORT OUT -->
    <path stroke="#000" [attr.fill]="MLT_WORT_OUT" stroke-width="1.5"  d="m283.057995,473.78075l9.50001,-16l9.5,16l-19.00001,0z" id="svg_17" transform="rotate(90 283.55816650390622,473.7810668945313) "/>
    <path transform="rotate(-90 315.25816650390628,491.78106689453125) " stroke="#000" [attr.fill]="MLT_WORT_OUT" stroke-width="1.5"  d="m315.257995,491.78075l9.50001,-16l9.5,16l-19.00001,0z" id="svg_18"/>


    <!-- VALVE HE CW IN -->
    <path transform="rotate(-180 325.86439208984375,315.28561401367185) " stroke="#000" [attr.fill]="HE_CW_IN" stroke-width="1.5"  d="m325.963494,315.285613l9.50001,-16l9.5,16l-19.00001,0z" id="svg_19"/>
    <path stroke="#000" [attr.fill]="HE_CW_IN" stroke-width="1.5"  d="m306.364374,346.290533l9.50001,-16l9.5,16l-19.00001,0z" id="svg_20"/>

    <!-- VALVE HE CW OUT -->
    <path transform="rotate(-180 325.56439208984375,195.7844085693359) " stroke="#000" [attr.fill]="HE_CW_OUT" stroke-width="1.5"  d="m325.563507,195.784405l9.50001,-16l9.5,16l-19.00001,0z" id="svg_21"/>
    <path stroke="#000" [attr.fill]="HE_CW_OUT" stroke-width="1.5"  d="m306.564387,226.789325l9.50001,-16l9.5,16l-19.00001,0z" id="svg_22"/>
  
    <!-- VALVE MLT WORT IN -->
    <path transform="rotate(-180 262.3665283203125,60.78315734863281) " stroke="#000" [attr.fill]="MLT_WORT_IN" stroke-width="1.5"  d="m262.065631,60.783149l9.50001,-16l9.5,16l-19.00001,0z" id="MLT_WORT_IN_UPPER"/>
    <path stroke="#000" stroke-width="1.5" [attr.fill]="MLT_WORT_IN"  d="m243.866511,91.788069l9.50001,-16l9.5,16l-19.00001,0z" id="MLT_WORT_IN_LOWER"/>

    <!-- VALVE MLT HW IN -->
    <path transform="rotate(-180 460.3669250488281,60.78315734863281) " stroke="#000" stroke-width="1.5" [attr.fill]="MLT_HW_IN"  d="m451.066034,60.78315l9.50001,-16l9.5,16l-19.00001,0z" id="MLT_HW_IN_UPPER"/>
    <path stroke="#000"  stroke-width="1.5" [attr.fill]="MLT_HW_IN" d="m450.666914,91.78807l9.50001,-16l9.5,16l-19.00001,0z" id="MLT_HW_IN_LOWER"/>
  
  </svg>
</div>