<div class="jumbotron">
  <h3>Overview</h3>
  <svg viewBox="0 0 700 550" preserveAspectRatio="xMidYMid meet">
  
  <!-- Graphics -->
    <rect fill="none" stroke="#000" stroke-width="1.5"  fill-opacity="null" x="63.5" y="63.5" width="109" height="147" id="svg_40"/> <!-- MLT-->
    <rect fill="none" stroke="#000" stroke-width="1.5"  fill-opacity="null" x="57.5" y="343.5" width="109" height="147" id="svg_46"/> <!-- KET -->
    <line stroke="#000" fill="none" stroke-width="1.5"  fill-opacity="null" x1="117" y1="211" x2="117" y2="270" id="svg_47"  /> <!-- MLT OUT Vert -->
    <line fill="none" stroke-width="1.5"  fill-opacity="null" x1="116.5" y1="270" x2="199.75" y2="270" id="svg_49"   stroke="#000"/><!-- MLT OUT Hori -->
    <line stroke="#000" fill="none" stroke-width="1.5"  fill-opacity="null" x1="199" y1="102.5" x2="199" y2="270" id="svg_50"  /> <!-- MLT OUT > HE Vert -->
    <line fill="none" stroke-width="1.5"  fill-opacity="null" x1="172" y1="69.5" x2="460.5" y2="69.5" id="svg_51"   stroke="#000"/> <!-- MLT IN Hori -->
    <line fill="none" stroke-width="1.5"  fill-opacity="null" x1="198.5" y1="102.5" x2="400.5" y2="102.5" id="svg_52"   stroke="#000"/> <!-- HE IN Hori -->
    <line fill="none" stroke="#000" stroke-width="1.5"  fill-opacity="null" x1="253" y1="102.5" x2="253" y2="144" id="svg_53"  /> <!-- HE IN Vert -->
    <rect fill="none" stroke="#000" stroke-width="1.5"  fill-opacity="null" x="223" y="144.5" width="61" height="156" id="svg_54"/> <!-- HE -->
    <line fill="none" stroke-width="1.5"  fill-opacity="null" x1="167" y1="482.5" x2="439" y2="482.5" id="svg_55"   stroke="#000"/> <!-- KET OUT > Wort pump OUT Hori -->
    <line fill="none" stroke="#000" stroke-width="1.5"  fill-opacity="null" x1="253" y1="300.5" x2="253" y2="481.5" id="svg_56"  /> <!-- KET Bypass -->
    <line fill="none" stroke="#000" stroke-width="1.5"  fill-opacity="null" x1="253" y1="317.5" x2="137.25" y2="317.5" id="svg_57"  /> <!-- KET IN Hori -->
    <line fill="none" stroke="#000" stroke-width="1.5"  fill-opacity="null" x1="138" y1="343" x2="138" y2="317.5" id="svg_58"  /> <!-- KET IN Vert -->
    <line fill="none" stroke-width="1.5"  fill-opacity="null" x1="284" y1="168.500035" x2="578.552192" y2="168.500035" id="svg_59"   stroke="#000"/> <!-- HW HE OUT Hori-->
    <line fill="none" stroke-width="1.5"  fill-opacity="null" x1="284" y1="286.5" x2="419.012625" y2="286.5" id="svg_60"   stroke="#000"/> <!-- HW HE IN Hori-->
    <line fill="none" stroke="#000" stroke-width="1.5"  fill-opacity="null" x1="316" y1="286" x2="316" y2="236.5" id="svg_61"  /> <!-- CW IN Vert-->
    <line stroke="#000" fill="none" stroke-width="1.5"  fill-opacity="null" x1="316" y1="167.999955" x2="316" y2="214.511939" id="svg_63"  /> <!-- CW OUT Vert -->
    <line fill="none" stroke="#000" stroke-width="1.5"  fill-opacity="null" x1="400" y1="483" x2="400" y2="103" id="svg_65"  /> <!-- PUMP WORT RECIRC Vert -->
    <line fill="none" stroke="#000" stroke-width="1.5"  fill-opacity="null" x1="420" y1="441" x2="420" y2="285.75" id="svg_67"  /> <!-- HLT OUT > HE vert -->
    <line fill="none" stroke-width="1.5"  fill-opacity="null" x1="566" y1="440.5" x2="419.25" y2="440.5" id="svg_68"   stroke="#000"/> <!-- HLT OUT Hori-->
    <line fill="none" stroke="#000" stroke-width="1.5"  fill-opacity="null" x1="438" y1="69.5" x2="438" y2="482" id="svg_69"  /> <!-- MLT IN Vert-->
    <line fill="none" stroke="#000" stroke-width="1.5"  fill-opacity="null" x1="460" y1="440.5" x2="460" y2="69.466309" id="svg_70"  /> <!-- Sparge water vert-->
    <rect fill="none" stroke="#000" stroke-width="1.5"  fill-opacity="null" x="565.5" y="309.5" width="109" height="147" id="svg_72"/> <!-- HLT -->
    <line fill="none" stroke="#000" stroke-width="1.5"  fill-opacity="null" x1="579" y1="308.5" x2="579" y2="167.75" id="svg_73"  /> <!-- HLT IN Vert -->

  <!-- Textboxes -->
    <text fill="#000000" stroke="#000" stroke-width="0"  fill-opacity="null" x="96" y="147.824555" id="svg_87" font-size="24" font-family="Helvetica, Arial, sans-serif" text-anchor="start" xml:space="preserve">MLT</text>
    <text fill="#000000" stroke="#000" stroke-width="0"  fill-opacity="null" x="188" y="55" id="svg_74" font-size="8" font-family="Helvetica, Arial, sans-serif" text-anchor="start" xml:space="preserve">AUTO SPARGE</text>
    <text fill="#000000" stroke="#000" stroke-width="0"  fill-opacity="null" x="422" y="148" transform="rotate(-90 422,148) " id="svg_87" font-size="8" font-family="Helvetica, Arial, sans-serif" text-anchor="start" xml:space="preserve">MLT_WORT_IN</text>
    <text fill="#000000" stroke="#000" stroke-width="0"  fill-opacity="null" x="482" y="143" transform="rotate(-90 482,143) " id="svg_87" font-size="8" font-family="Helvetica, Arial, sans-serif" text-anchor="start" xml:space="preserve">MLT_HW_IN</text>
    <text fill="#000000" stroke="#000" stroke-width="0"  fill-opacity="null" x="125" y="242" id="svg_74" font-size="8" font-family="Helvetica, Arial, sans-serif" text-anchor="start" xml:space="preserve">MLT_WORT_OUT</text>

    <text fill="#000000" stroke="#000" stroke-width="0"  fill-opacity="null" x="237" y="233.824555" id="svg_74" font-size="24" font-family="Helvetica, Arial, sans-serif" text-anchor="start" 
  xml:space="preserve">HE</text>
    <text fill="#000000" stroke="#000" stroke-width="0"  fill-opacity="null" x="330" y="88" id="svg_74" font-size="8" font-family="Helvetica, Arial, sans-serif" text-anchor="start" xml:space="preserve">KET_RECIRC</text>
    <text fill="#000000" stroke="#000" stroke-width="0"  fill-opacity="null" x="265" y="322" id="svg_74" font-size="12" font-family="Helvetica, Arial, sans-serif" text-anchor="start" xml:space="preserve">T2: 67 C</text>
    <text fill="#000000" stroke="#000" stroke-width="0"  fill-opacity="null" x="322" y="306" id="svg_74" font-size="8" font-family="Helvetica, Arial, sans-serif" text-anchor="start" xml:space="preserve">HE_HW_IN: 100 %</text>
    <text fill="#000000" stroke="#000" stroke-width="0"  fill-opacity="null" x="331" y="152" id="svg_74" font-size="8" font-family="Helvetica, Arial, sans-serif" text-anchor="start" xml:space="preserve">HE_HW_OUT</text>
    <text fill="#000000" stroke="#000" stroke-width="0"  fill-opacity="null" x="331" y="195" id="svg_74" font-size="8" font-family="Helvetica, Arial, sans-serif" text-anchor="start" xml:space="preserve">HE_CW_OUT</text>
    <text fill="#000000" stroke="#000" stroke-width="0"  fill-opacity="null" x="331" y="263" id="svg_74" font-size="8" font-family="Helvetica, Arial, sans-serif" text-anchor="start" xml:space="preserve">HE_CW_IN</text>

    <text fill="#000000" stroke="#000" stroke-width="0"  fill-opacity="null" x="88" y="421.5" id="svg_75" font-size="24" font-family="Helvetica, Arial, sans-serif" text-anchor="start" xml:space="preserve">KET</text>
    <text fill="#000000" stroke="#000" stroke-width="0"  fill-opacity="null" x="178" y="338" id="svg_74" font-size="8" font-family="Helvetica, Arial, sans-serif" text-anchor="start" xml:space="preserve">KET_WORT_IN</text>
    <text fill="#000000" stroke="#000" stroke-width="0"  fill-opacity="null" x="176" y="503" id="svg_74" font-size="8" font-family="Helvetica, Arial, sans-serif" text-anchor="start" xml:space="preserve">KET_WORT_OUT</text>
  <text fill="#000000" stroke="#000" stroke-width="0"  fill-opacity="null" x="265" y="390" id="svg_74" font-size="8" font-family="Helvetica, Arial, sans-serif" text-anchor="start" xml:space="preserve">KET_BYPASS</text>


    <text fill="#000000" stroke="#000" stroke-width="0"  fill-opacity="null" x="598" y="391.5" id="svg_76" font-size="24" font-family="Helvetica, Arial, sans-serif" text-anchor="start" 
  xml:space="preserve">HLT</text>
    <text fill="#000000" stroke="#000" stroke-width="0"  fill-opacity="null" x="598" y="420" id="svg_76" font-size="12" font-family="Helvetica, Arial, sans-serif" text-anchor="start" xml:space="preserve">T1: 78 C</text>

    <text fill="#000000" stroke="#000" stroke-width="0"  fill-opacity="null" x="273" y="524" id="svg_74" font-size="8" font-family="Helvetica, Arial, sans-serif" text-anchor="start" xml:space="preserve">WORT PUMP</text>
    <text fill="#000000" stroke="#000" stroke-width="0"  fill-opacity="null" x="487" y="480" id="svg_74" font-size="8" font-family="Helvetica, Arial, sans-serif" text-anchor="start" xml:space="preserve">HW PUMP</text>

  <!-- Pumps -->
    <ellipse fill="#ffffff" stroke-width="1.5"  cx="506.5" cy="439" id="svg_85" rx="26.499999" ry="27.499999" stroke="#000"/> <!-- HW pump-->
    <ellipse fill="#ffffff" stroke-width="1.5"  cx="299.5" cy="483" id="svg_82" rx="26.499999" ry="27.499999" stroke="#000"/> <!-- Wort pump -->
    <path fill="#000000" stroke-width="1.5"  d="m494.0631,447.79077l9.50001,-16l9.5,16l-19.00001,0z" id="svg_86" transform="rotate(-90 503.56311035156256,439.79077148437506) " stroke="#000"/><!-- HW pump arrow -->
    <path fill="#000000" stroke-width="1.5"  d="m292.0631,490.79077l9.50001,-16l9.5,16l-19.00001,0z" id="svg_81" transform="rotate(-31 294,490) " stroke="#000"/> <!-- Wort pump arrow -->

  <!-- Valves -->
    <path stroke="#000" stroke-width="1.5"  d="m293.0631,88.790764l9.50001,-16l9.5,16l-19.00001,0z" [attr.fill]="AUTO_SPARAGE" id="svg_5" transform="rotate(90 261.56311035156256,28.790763854980487) "/>
    <path transform="rotate(-90 223.56311035156253,70.79077148437499) " stroke="#000" [attr.fill]="AUTO_SPARAGE" stroke-width="1.5"  d="m215.0631,78.790764l9.50001,-16l9.5,16l-19.00001,0z" id="svg_6"/>

    <path stroke="#000" stroke-width="1.5"  d="m434.089569,119.796621l9.50001,-16l9.5,16l-19.00001,0z" id="svg_7" [attr.fill]="KET_RECIRC" transform="rotate(90 401.5887451171875,59.79666900634769) "/>
    <path transform="rotate(-90 363.58874511718756,101.7966842651367) " stroke="#000" stroke-width="1.5" [attr.fill]="KET_RECIRC"  d="m354.089569,109.796621l9.50001,-16l9.5,16l-19.00001,0z" id="svg_8"/>

    <path stroke="#000"  stroke-width="1.5"  d="m435.08957,184.808909l9.50001,-16l9.5,16l-19.00001,0z"  [attr.fill]="HE_HW_OUT"  id="svg_9" transform="rotate(90 401.5887451171875,124.80906677246098) "/>
    <path transform="rotate(-90 365.0887756347656,168.8088226318359) " stroke="#000"  stroke-width="1.5" [attr.fill]="HE_HW_OUT"  d="m356.589596,176.808945l9.50001,-16l9.5,16l-19.00001,0z" id="svg_10"/>

    <path stroke="#000" [attr.fill]="HE_HW_IN" stroke-width="1.5"  d="m434.08957,303.831409l9.50001,-16l9.5,16l-19.00001,0z" id="svg_11" transform="rotate(90 401.58874511718756,243.83088684082034) "/>
    <path transform="rotate(-90 363.58874511718756,285.8305969238281) " stroke="#000" [attr.fill]="HE_HW_IN" stroke-width="1.5"  d="m354.08957,293.831409l9.50001,-16l9.5,16l-19.00001,0z" id="svg_12"/>

    <path stroke="#000" [attr.fill]="KET_WORT_OUT" stroke-width="1.5"  d="m287.057995,500.78075l9.50001,-16l9.5,16l-19.00001,0z" id="svg_13" transform="rotate(90 254.55816650390622,440.7810668945313) "/>
    <path transform="rotate(-90 216.55816650390628,482.78106689453125) " stroke="#000" [attr.fill]="KET_WORT_OUT" stroke-width="1.5"  d="m207.057995,490.78075l9.50001,-16l9.5,16l-19.00001,0z" id="svg_14"/>

    <path stroke="#000" [attr.fill]="KET_WORT_IN" stroke-width="1.5"  d="m286.057806,335.74955l9.50001,-16l9.5,16l-19.00001,0z" id="svg_15" transform="rotate(90 253.55783081054685,275.75009155273443) "/>
    <path transform="rotate(-90 215.5578308105469,317.75006103515625) " stroke="#000" [attr.fill]="KET_WORT_IN" stroke-width="1.5"  d="m206.057806,325.74955l9.50001,-16l9.5,16l-19.00001,0z" id="svg_16"/>

    <path transform="rotate(-180 116.56315612792969,230.79092407226562) " stroke="#000" [attr.fill]="MLT_WORT_OUT" stroke-width="1.5"  d="m107.062273,238.790858l9.50001,-16l9.5,16l-19.00001,0z" id="svg_17"/>
    <path stroke="#000" [attr.fill]="MLT_WORT_OUT" stroke-width="1.5"  d="m107.063153,254.795778l9.50001,-16l9.5,16l-19.00001,0z" id="svg_18"/>
  
    <path transform="rotate(-180 316.06439208984375,252.28561401367185) " stroke="#000" [attr.fill]="HE_CW_IN" stroke-width="1.5"  d="m306.563494,260.285613l9.50001,-16l9.5,16l-19.00001,0z" id="svg_19"/>
    <path stroke="#000" [attr.fill]="HE_CW_IN" stroke-width="1.5"  d="m306.564374,276.290533l9.50001,-16l9.5,16l-19.00001,0z" id="svg_20"/>

    <path transform="rotate(-180 316.56439208984375,183.7844085693359) " stroke="#000" [attr.fill]="HE_CW_OUT" stroke-width="1.5"  d="m307.563507,191.784405l9.50001,-16l9.5,16l-19.00001,0z" id="svg_21"/>
    <path stroke="#000" [attr.fill]="HE_CW_OUT" stroke-width="1.5"  d="m306.564387,207.789325l9.50001,-16l9.5,16l-19.00001,0z" id="svg_22"/>

    <path transform="rotate(-180 437.5665283203125,112.78315734863281) " stroke="#000" [attr.fill]="MLT_WORT_IN" stroke-width="1.5"  d="m428.065631,120.783149l9.50001,-16l9.5,16l-19.00001,0z" id="MLT_WORT_IN_UPPER"/>
    <path stroke="#000" stroke-width="1.5" [attr.fill]="MLT_WORT_IN"  d="m428.066511,136.788069l9.50001,-16l9.5,16l-19.00001,0z" id="MLT_WORT_IN_LOWER"/>

    <path transform="rotate(-180 460.5669250488281,112.78315734863281) " stroke="#000" stroke-width="1.5" [attr.fill]="MLT_HW_IN"  d="m451.066034,120.78315l9.50001,-16l9.5,16l-19.00001,0z" id="MLT_HW_IN_UPPER"/>
    <path stroke="#000"  stroke-width="1.5" [attr.fill]="MLT_HW_IN" d="m451.066914,136.78807l9.50001,-16l9.5,16l-19.00001,0z" id="MLT_HW_IN_LOWER"/>

    <path transform="rotate(-180 250.7635528564453,379.79132080078125) " stroke="#000" [attr.fill]="MLT_KET_BYPASS" stroke-width="1.5"  d="m239.06281,387.791472l9.50001,-16l9.5,16l-19.00001,0z" id="svg_29"/>
    <path stroke="#000" [attr.fill]="MLT_KET_BYPASS" stroke-width="1.5"  d="m243.36369,403.796392l9.50001,-16l9.5,16l-19.00001,0z" id="svg_30"/>
  
  </svg>
</div>