<div class="well well-lg">
  <h3>Valves</h3>
  <div class="table-responsive">
    <table class="table table-condensed ">
      <thead>
        <tr>
          <th>#</th>
          <th>Auto</th>
          <th>Close</th>
          <th>Open</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let valve of valves" [ngClass]="getRowClass(valve)">
          <td>{{valve.name}}</td>
          <td><button class="btn btn-sm btn-raised" disabled>Auto</button></td>
          <td><button class="btn btn-sm btn-raised" (mousedown)="startClosingValve(valve)" (mouseup)="stopClosingValve(valve)">Close</button></td>
          <td><button class="btn btn-sm btn-raised" (mousedown)="startOpeningValve(valve)" (mouseup)="stopOpeningValve(valve)">Open</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div *ngFor="let pidController of pidControllers" class="col-sm-6">
    <div class="well well-lg">
      <h3>
        <span>{{pidController.longName}}</span>
        <span class="glyphicon glyphicon-pencil pull-right" style="cursor: pointer;" aria-hidden="true" (click)="openPidControllerModal(pidController)"></span>
      </h3>
      <table class="table table-condensed">
        <thead>
          <tr>
            <th>#</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Temp:</td>
            <td>{{ pidController.data.temperature | number:'2.1-2' }} C</td>
          </tr>
          <tr>
            <td>Mode:</td>
            <td>{{ pidController.config.mode }}</td>
          </tr>
          <tr>
            <td>Set Point:</td>
            <td>{{pidController.config.setPoint}}</td>
          </tr>
          <tr>
            <td>Output:</td>
            <td>{{pidController.data.output}}</td>
          </tr>
          <tr>
            <td>Kp:</td>
            <td>{{pidController.config.kp}}</td>
          </tr>
          <tr>
            <td>Ki:</td>
            <td>{{pidController.config.ki}}</td>
          </tr>
          <tr>
            <td>Kd:</td>
            <td>{{pidController.config.kd}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="well well-lg">
  <h3>Pumps</h3>
  <div class="table-responsive">
    <table class="table table-condensed">
      <thead>
        <tr>
          <th>#</th>
          <th>Auto</th>
          <th>Stop</th>
          <th>Start</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let motor of motors">
          <td>{{motor.getName()}}</td>
          <td><button class="btn btn-sm btn-raised" disabled>Auto</button></td>
          <td><button class="btn btn-sm btn-raised" (click)="stopMotor(motor)">Stop</button></td>
          <td><button class="btn btn-sm btn-raised" (click)="startMotor(motor)">Start</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<!-- PidController modal -->
<div bsModal #childModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" data-dismiss="modal" (click)="pidControllerModal.hide()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">{{modal.longName}}</h4>
      </div>
      <div class="modal-body">
        <form #f="ngForm" class="form-horizontal" novalidate>
          <div class="form-group form-group-lg he-form-group-lg is-empty">
            <label for="i2" class="col-sm-2 control-label" style="text-transform: capitalize;">Mode</label>
            <div class="col-sm-10">
              <div class="form-control">
                <div class="togglebutton">
                  <input type="hidden" name="toggle" [(ngModel)]="modal.mode">
                  <label> 
                <input type="checkbox" [checked]="modal.mode.toLowerCase() === modeToggles[0].value.toLowerCase()" 
                (change)="$event.target.checked ? (modal.mode =  modeToggles[0].value) : (modal.mode = modeToggles[1].value)">
              </label>
              {{modal.mode}}
                </div>
              </div>
            </div>
          </div>
          <div class="form-group form-group-lg he-form-group-lg is-empty">
            <label for="setPoint" class="col-sm-2 control-label">Set Point</label>
            <div class="col-sm-10">
              <input type="number" class="form-control" id="setPoint" name="setPoint" placeholder="Set Point" [(ngModel)]="modal.setPoint"
                required>
            </div>
          </div>
          <div class="form-group form-group-lg he-form-group-lg is-empty">
            <label for="output" class="col-sm-2 control-label">Output</label>
            <div class="col-sm-10">
              <input type="number" class="form-control" id="output" name="output" placeholder="Output" [(ngModel)]="modal.output" required>
            </div>
          </div>
          <div class="form-group form-group-lg he-form-group-lg is-empty">
            <label for="Kp" class="col-sm-2 control-label">Kp</label>
            <div class="col-sm-10">
              <input type="number" class="form-control" id="kp" name="kp" placeholder="kp" [(ngModel)]="modal.kp" required>
            </div>
          </div>
          <div class="form-group form-group-lg he-form-group-lg is-empty">
            <label for="Ki" class="col-sm-2 control-label">Ki</label>
            <div class="col-sm-10">
              <input type="number" class="form-control" id="ki" name="ki" placeholder="Ki" [(ngModel)]="modal.ki" required>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-default" type="button" data-dismiss="modal" (click)="pidControllerModal.hide()">Cancel</button>
        <button class="btn btn-primary" type="button" (click)="setPidController(modal)">Save changes</button>
      </div>
    </div>
  </div>
</div>
<!-- END PidController modal -->
