<h1>
    Valves</h1>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Auto</th>
            <th>Close</th>
            <th>Open</th>
            <!-- th>Closed</th>
            <th>Opened</th-->
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let valve of valves" [ngClass]="getRowClass(valve)">
            <th>{{valve.getName()}}</th>
            <td><button class="btn btn-default" disabled>Auto</button></td>
            <td><button class="btn btn-default" (mousedown)="startClosingValve(valve)" (mouseup)="stopClosingValve(valve)" >Close</button></td>
            <td><button class="btn btn-default" (mousedown)="startOpeningValve(valve)" (mouseup)="stopOpeningValve(valve)">Open</button></td>
            <!-- td class="danger">{{valve.getStatus()}}</td>
            <td class="success"></td-->
        </tr>
    </tbody>
</table>

<h1>Controllers</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Auto</th>
            <th>SP</th>
            <th>PV</th>
            <th>OUT</th>
            <th>Para</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Pid controller</td>
            <td><button class="btn btn-default">Auto</button></td>
            <td><input type="number"></td>
            <td>{{pidController.temperature}}</td>
            <td><input type="number"></td>
            <td><button class="btn btn-default">Go to Para</button></td>
        </tr>
    </tbody>
</table>

<h1>Pumps</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Auto</th>
            <th>Stop</th>
            <th>Start</th>
            <th>Running</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let motor of motors">
            <td>{{motor.getName()}}</td>
            <td><button class="btn btn-default" disabled>Auto</button></td>
            <td><button class="btn btn-default" (click)="stopMotor(motor)">Stop</button></td>
            <td><button class="btn btn-default" (click)="startMotor(motor)">Start</button></td>
            <td class="success"></td>
        </tr>
    </tbody>
</table>