.navbar-brand {
  padding: 0;
  img {
    height: 50px;
  }
}

body {
  padding-top: 70px;
}

// We prefix our css classes with he-
.he-form-group-lg {
  margin-top: 0px !important;
}

.he-form-control-clean {
  background-image: none !important;
}
