<h3> Production</h3>
<br>
<h4> HLT - Water transfer</h4>
<div class="table-responsive">
  <table class="table table-condensed">
    <thead>
      <tr>
        <th width="20%">Act. Level (L)</th>
        <th width="20%">Start Level (L)</th>
        <th width="20%"></th>
        <th width="20%"></th>
        <th width="20%"></th>
      </tr>
    </thead>
    <tbody>
      <td>{{system.data.waterLevelHlt}}</td>
      <td>50.1</td>
    </tbody>
    <thead>
      <tr>
        <th width="20%">Water to transfer (L)</th>
        <th width="20%"></th>
        <th width="20%"></th>
        <th width="20%"></th>
      </tr>
    </thead>
    <tbody>
      <td>18.0</td>
    </tbody>
    <thead>
      <tr>
        <th width="20%"></th>
        <th width="20%"></th>
        <th width="20%"></th>
        <th width="20%"></th>
        <th width="20%"></th>
      </tr>
    </thead>
    <tbody>
      <td><button class="btn btn-sm btn-raised" enabled>Valve auto</button></td>
      <td><button class="btn btn-sm btn-raised" enabled>Start transfer</button></td>
    </tbody>
  </table>
</div>
<h4>Temp MLT</h4>
<div style="width: 100%;">
  <chart [options]="options" style="display: block" (load)="saveInstance($event.context)"></chart>
</div>