<div class="well well-lg">
  <h3>Status</h3>
  <div class="table-responsive">
    <table class="table table-condensed">
      <thead>
        <tr>
          <th width="20%">Phase</th>
          <th width="20%">Time left</th>
          <th width="20%">Timer</th>
          <th width="20%"></th>
          <th width="20%"></th>
        </tr>
      </thead>
      <tbody>
        <td>Mashing</td>
        <td>75 min</td>
        <td><button class="btn btn-sm btn-raised" enabled>Activate</button></td>
      </tbody>
      <thead>
        <tr>
          <th width="20%">Temp HE</th>
          <th width="20%">Temp HLT</th>
          <th width="20%">Level HLT</th>
          <th width="20%"></th>
          <th width="20%"></th>
        </tr>
      </thead>
      <tbody>
        <td>67.0 C</td>
        <td>80.0 C</td>
        <td>34 L</td>
      </tbody>
      <thead>
        <tr>
          <th width="20%">Pump WORT:</th>
          <th width="20%">Pump HW:</th>
          <th width="20%"></th>
          <th width="20%"></th>
          <th width="20%"></th>
        </tr>
      </thead>
      <tbody>
        <td>ON</td>
        <td>OFF</td>
      </tbody>
    </table>
  </div>
</div>
<!-- Test -->
<div class="well well-lg">
  <h3>HLT - Water transfer</h3>
  <div class="table-responsive">
    <table class="table table-condensed">
      <thead>
        <tr>
          <th width="20%">Act level (l)</th>
          <th width="20%">Start level (l)</th>
          <th width="20%"></th>
          <th width="20%"></th>
          <th width="20%"></th>
        </tr>
      </thead>
      <tbody>
        <td>45.7</td>
        <td>50.1</td>
      </tbody>
      <thead>
        <tr>
          <th width="20%">Mash water (l)</th>
          <th width="20%">Sparge water (l)</th>
          <th width="20%"></th>
          <th width="20%"></th>
          <th width="20%"></th>
        </tr>
      </thead>
      <tbody>
        <td>14.0</td>
        <td>18.0</td>
      </tbody>
      <thead>
        <tr>
          <th width="20%"></th>
          <th width="20%"></th>
          <th width="20%"></th>
          <th width="20%"></th>
          <th width="20%"></th>
        </tr>
      </thead>
      <tbody>
        <td><button class="btn btn-sm btn-raised" enabled>Valve auto</button></td>
        <td><button class="btn btn-sm btn-raised" enabled>Fill MLT</button></td>
        <td><button class="btn btn-sm btn-raised" enabled>Start sparge</button></td>
      </tbody>
    </table>
  </div>
</div>
<div class="well well-lg">
  <h3>Pid controllers</h3>
  <div style="width: 100%;">
    <chart [options]="options" style="display: block" (load)="saveInstance($event.context)"></chart>
  </div>
</div>
